@import "tailwindcss";

:root {
  --background: #f3efe8;
  --foreground: #1f2937;

  --card: #ffffff;
  --card-foreground: #111827;

  --primary: #1f2937;
  --primary-foreground: #ffffff;

  --secondary: #f7f4ee;
  --secondary-foreground: #111827;

  --muted: #ebe5dc;
  --muted-foreground: #6b7280;

  --accent: #c67c2e;
  --accent-foreground: #ffffff;

  --border: #e7dfd4;
  --input: #e7dfd4;
  --ring: #c67c2e;

  --radius: 1.25rem;
}

body {
  background: var(--background);
  color: var(--foreground);
}

/* HIDE SCROLLBAR */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}